@charset "UTF-8";

/* Hovers */
body.main-body-entry > div.navigation-menu > nav.navbar div.container-fluid:hover {
    width: 100%;
}

body.main-body-entry > div.jumbotron-title > div.container > div.jumbotron h1.site-title:hover {
    -webkit-animation: pulse 2.4s ease-in-out infinite;
}

body.main-body-entry > div.jumbotron-title > div.container > div.jumbotron p#meta-context:hover {
    -webkit-animation: pulse 2.4s ease-in-out infinite;
}

/* Onload animations */
@-webkit-keyframes nav-bar-onload {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes jumbotron-onload {
    
}

/* Animations */
@-webkit-keyframes nav-extend-100 {
    from {
        width: 50%;
    }
    to {
        width: 100%;
    }
}

@-webkit-keyframes nav-retract-50 {
    from {
        box-shadow: 0 0 10px lawngreen;
    }
    to {
        margin-left: 20%;
        margin-right: 20%;
        box-shadow: 0 0 8px limegreen;
    }
}

@-webkit-keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

/* Fonts */
@font-face {
    font-family: "Orbitron";
    src: url("../../../web-entries/fonts/Orbitron/Orbitron-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Quicksand";
    src: url("../../../web-entries/fonts/Quicksand/static/Quicksand-Light.ttf");
}